
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<form action="/cars">
  <input type="text" name="query">
  <button type="submit">Search</button>
</form>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">A ride to heaven</h1>
    <p class="lead">New Collection of Sports Cars. Be faster than the Wagon</p>
  </div>
</div>
