
<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://files.porsche.com/filestore/image/multimedia/none/rd-2019-homepage-banner-ww-taycantop-kw47/normal/320c6d98-055c-11ea-80c6-005056bbdc38/porsche-normal.jpg);">
  <div class="container">
    <h1><strong>A ride to heaven</strong></h1>
    <p>New Collection of Sports Cars. Be faster than the Wagon</p>
   <!--  <a class="btn btn-flat" href="#">Apply now</a> -->
  </div>
</div>









<!-- <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div> -->
